# Dependency directories
**/node_modules

# Output of build tools
dist/
build/
out/
*.log

# Environment variables file
**/.env
**/.env*.local

# IDE and editor files
.vscode/
.idea/



# TypeScript cache
*.tsbuildinfo

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# npm package locks
package-lock.json
yarn.lock


.next# next.js
/.next/

.DS_Store

*.tsbuildinfo
.ideadist/**
/dist

packages/*/dist.turbo

/test-results/
**/playwright-report/*
**/playwright-report
.turbo/


**/coverage/
**/test-results/

# apps/backend/
**/dbdump/kanaclean.sql
**/dbdump/kanaclean1.sql



# PNPM
.pnpm-store/

.cursor/rules