# Dependency directories
node_modules
packages/*/node_modules
apps/*/node_modules

# Output of build tools
dist/
build/
out/
*.log

# Environment variables file
.env
.env*.local

# IDE and editor files
.vscode/
.idea/



# TypeScript cache
*.tsbuildinfo

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# npm package locks
package-lock.json
yarn.lock


/coverage/
/test-results/

/dbdump/kanaclean.sql


.next# next.js
/.next/

.DS_Store

*.tsbuildinfo
.ideadist/**
/dist

packages/*/dist.turbo

/test-results/

.turbo/
