# Dependency directories
**/node_modules
mariadb-mcp/

# Development keys
**/**.pem
**/**.pem

# Output of build tools
dist/
build/
out/
*.log

# Environment variables file
**/.env
**/.env*.local

# IDE and editor files
.vscode/settings.json
.idea/



# TypeScript cache
*.tsbuildinfo

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# npm package locks
package-lock.json
yarn.lock


.next# next.js
/.next/
.swc/

.DS_Store

*.tsbuildinfo
.ideadist/**
/dist

packages/*/dist.turbo

/test-results/
**/playwright-report/*
**/playwright-report
.turbo/

Kanaliiga.session.sql

**/coverage/
**/test-results/

# apps/backend/
**/dbdump/kanaclean.sql
**/dbdump/kanaclean1.sql
**/.jest-cache/



# PNPM
.pnpm-store/

.cursor/settings.json

# Datbase
dbdoc/

# standings ui
standings-ui/

# agent
.agent/
docs/ench/