[mysqld]
port=3306
bind-address=0.0.0.0

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock

max_allowed_packet=16M
event_scheduler=ON

innodb_buffer_pool_size=1024M
innodb_flush_log_at_trx_commit=2

skip-name-resolve

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
default-character-set=utf8mb4
